# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.azure/
.vscode/

# Environment files
.env

# Docker artifacts
docker-compose.override.yml

# Operating System files
.DS_Store
Thumbs.db
